<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
</head>
<body>
<div class="container">
    {% if houve_falha %}
    <h2 class="text">Falha ao fazer o login!</h2>

    {% endif %}
    <form class="login-container" method="post">
        Email:
        <input name="email" id="email"/>
        <br/>
        Senha:
        <input type="password" name="password" id="password"/>

        <input  class="login-button" type="submit">
    </form>

</div>
</body>