<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pedidos.css') }}"/>
</head>
<body>
    {% if not logged_in %}
     <div class="login-container">
        <h2 class="title">Você não está logado</h2>
        <a href="{{ url_for('index') }}" class="link-index">
            <button class="index-button"> Menu </button>
        </a>
     </div>

    {% elif is_admin %}
    <div class="login-container">
        <h2 class="title">Você não é um restaurante.</h2>
        <a href="{{ url_for('index') }}" class="link-index">
            <button class="index-button"> Menu </button>
        </a>
    </div>

    {% else %}
        <div class="appbar">
            <div class="appbar-title">
                <p>Menu do Restaurante</p>
            </div>
            <a href="{{ url_for('relatorios_restaurante') }}" class="link-relatorios_restaurante">
                <button class="relatorios-button">Relatórios</button>
            </a>
        </div>

        <div class="container">
            <ul class="pedido-lista">
                {% for pedido in pedidos %}
                <li class="pedido-item">
                    <div class="pedido-actions">
                        <p>
                            <strong>Pedido ID:</strong> {{ pedido.id_pedido }}
                            <strong>Cliente:</strong> {{ pedido.usuario }}
                            <strong>Total: R$</strong>{{ pedido.total }}
                        </p>
                        <div>
                            <button class="accept-button">Aceitar</button>
                            <button class="reject-button">Recusar</button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <a href="{{ url_for('index') }}" class="link-index">
                <button class="index-button"> Menu </button>
            </a>
     </div>
    {% endif %}
</body>
</html>
