<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Relatorios </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorios.css') }}"/>
</head>
<body>
    {% if not is_admin %}
        <div class="login-container">
            <h2 class="title">Você não é um Admin.</h2>
            <a href="{{ url_for('index') }}" class="link-index">
                <button class="index-button"> Menu </button>
            </a>
        </div>
    {% elif is_admin %}
    <div class="container">
        <div class="graph-container">
            {% block bokeh %}
                {{ js_resources|indent(4)|safe }}
                {{ css_resources|indent(4)|safe }}
            {% endblock %}

            {% block content %}
                <div>
                <!-- Gráfico 1 -->
                    <h2>Quantidade de restaurantes e clientes cadastrados</h2>
                    {{ graph5.plot_script|safe }}
                    {{ graph5.plot_div|safe }}
                </div>
                <!-- Gráfico 2 -->
                <div>
                    <h2>Clientes Únicos</h2>
                    {{ graph1.plot_script|safe }}
                    {{ graph1.plot_div|safe }}
                </div>
                <!-- Gráfico 3 -->
                <div>
                    <h2>Ticket Médio por restaurante</h2>
                    {{ graph2.plot_script|safe }}
                    {{ graph2.plot_div|safe }}
                </div>
                <!-- Gráfico 4 -->
                <div>
                    <h2>Pedidos dos restaurantes por mês</h2>
                    {{ graph3.plot_script|safe }}
                    {{ graph3.plot_div|safe }}
                </div>
                <!-- Gráfico 5 -->
                <div>
                    <h2>Clientes que mais gastaram</h2>
                    {{ graph4.plot_script|safe }}
                    {{ graph4.plot_div|safe }}
                </div>
            {% endblock %}

            <a href="{{ url_for('index') }}" class="link-index">
                <button class="index-button"> Menu </button>
            </a>
        </div>
    </div>
    {% endif %}
</body>
</html>