<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Relatorios </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorios.css') }}"/>

</head>
<body>
    {% if not is_restaurant %}
        <div class="login-container">
            <h2 class="title">Você não é um restaurante.</h2>
            <a href="{{ url_for('index') }}" class="link-index">
                <button class="index-button"> Menu </button>
            </a>
        </div>
    {% elif is_restaurant %}
        <div class="graph-container">
            {% block bokeh %}
                {{ js_resources|indent(4)|safe }}
                {{ css_resources|indent(4)|safe }}
            {% endblock %}

            {% block content %}
                <!-- Gráfico 1 -->
                <div>
                    <h2>Gráfico 1: Média Gasta por Usuário</h2>
                    {{ graph1.plot_script|safe }}
                    {{ graph1.plot_div|safe }}
                </div>
                <!-- Gráfico 2 -->
                <div>
                    <h2>Gráfico 2: Pedidos por Status</h2>
                    {{ graph2.plot_script|safe }}
                    {{ graph2.plot_div|safe }}
                </div>
                <!-- Gráfico 3 -->
                <div>
                    <h2>Gráfico 3: Pedidos por dia da semana</h2>
                    {{ graph3.plot_script|safe }}
                    {{ graph3.plot_div|safe }}
                </div>
            {% endblock %}

            <a href="{{ url_for('pedidos') }}" class="link-pedidos">
                <button class="index-button"> Pedidos </button>
            </a>
        </div>
    {% endif %}
</body>
</html>